<center>
<h4>Send Sms to <%=@twilio_number%> to start a thread</h4>
</center>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
            <%= render partial: "/messages/partials/searchbar"%>
            </div>
          </div>
          <div class="inbox_chat">
            <%@threads.each do |inbox|%>
              <%= render partial: "/messages/partials/inbox",locals:{inbox:inbox} %>
            <%end%>
          </div>
          
        </div>
        <div class="mesgs" style="width:45% !important">
          <div class="msg_history">
          <div style="height:480px;overflow-y:scroll">
          <%@messages.each do |message|%>
            <%unless message.from==@twilio_number%>
            <div class="outgoing_msg">
            <div class="sent_msg">
              <p><%=message.body%></p>
              <span class="time_date"> <%=message.created_at.strftime("%I:%M%p")%>   |    <%=message.created_at.to_date.to_formatted_s(:short)%></span>
           </div>
          </div>
          <%else%>
          <div class="incoming_msg">
          <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p><%=message.body%></p>
              <span class="time_date"> <%=message.created_at.strftime("%I:%M%p")%>   |    <%=message.created_at.to_date.to_formatted_s(:short)%></span></div>
          </div>
        </div>
            <%end%>
            <%end%>
            </div>
          <div class="type_msg">
              <%= render partial: "/messages/partials/typemessage" %>
          </div>
        </div>
      </div>
      <div style="margin-top:25px">
      <%= render partial: "/messages/partials/threaddetail" %>
      </div>
    </div>
   