<div class="input_msg_write">
            <%=form_with url:sendsms_path ,scope:"message",local:true do |message|%>
            <%=message.hidden_field :thread_id,value:@thread_id%>
              <%=message.text_field :body,:class=>"write_msg",:placeholder=>"Type a message"%>
             <%if !params.has_key?(:thread_id)%>
              <%=message.submit "Send Message" ,disabled:true,style:"background-color:#7fa7e8"%>
              <%else%>
              <%=message.submit "Send Message",style:"background-color:#7fa7e8;width:20%"%>
              <%end%>
              <%end%>
</div>